<%- include ../partials/html-header %>
<% include ../partials/errors %>
<div class="login-form">
   <div class="login-body">
      <a class="login-close-btn" href="/login">&times;</a>
      <h4 class="login-title">Register</h4>
      <!-- Form -->
      <form class="form-login" action="/register" method="POST">

         <div class="field-wrapper">
            <input type="name" name="firstName" value="<%= typeof firstName != 'undefined' ? firstName : '' %>">

            <div class="field-placeholder"><span>Enter first name</span></div>
         </div>

         <div class="field-wrapper">
            <input type="name" name="lastName" value="<%= typeof lastName != 'undefined' ? lastName : '' %>">

            <div class="field-placeholder"><span>Enter last name</span></div>
         </div>

         <div class="field-wrapper">
            <input type="email" name="email" value="<%= typeof email != 'undefined' ? email : '' %>">
            <div class="field-placeholder"><span>Enter your email</span></div>
         </div>

         <div class="field-wrapper">
            <input type="password" name="password" value="<%= typeof password != 'undefined' ? password : '' %>">
            <div class="field-placeholder"><span>Enter your password</span></div>
         </div>

         <div class="field-wrapper">
            <input type="password" name="confirmPassword"
               value="<%= typeof confirmPassword != 'undefined' ? confirmPassword : '' %>">
            <div class="field-placeholder"><span>Confirm your password</span></div>
         </div>

         <a href="/login/forgot">Forgot Password?</a><br><br>
         <button type="submit">Register</button>


         <!-- Sign in with facebook or google -->
         <hr class="hr-text" data-content="or">
         <h6>Register with</h6><br>
         <a href="/login/google" class="btn fa fa-google"></a>
         <a href="/login/facebook" class="btn fa fa-facebook"></a><br><br>

         <p class="small">Want to log in?</p>
         <a class="register-btn" href="/login">Log in</a>

         <!-- log in accounts premade -->
         <hr class="hr-text" data-content="Premade Test Accounts">
         <hr class="hr-text" data-content="EMAIL: admin@test.com  |  PASSWORD: 123456">
         <hr class="hr-text" data-content="EMAIL: email: seller@test  |  PASSWORD: 123456">
         <hr class="hr-text" data-content="EMAIL: email: shopper@test  |  PASSWORD: 123456">
      </form>
   </div>
</div>
<%- include ../partials/html-footer %>