<%- include ../partials/html-header %>
<% include ../partials/errors %>
<div class="login-form">
   <div class="login-body">
      <a class="login-close-btn" href="/login">&times;</a>
      <h4 class="login-title">Create New Password</h4>
      <!-- Form -->
      <form class="form-login" action="/login/reset/<%= token %>" method="POST" method="POST">

         <!-- Reset Password -->
         <div class="field-wrapper">
            <input type="password" name="password" value="<%= typeof password != 'undefined' ? password : '' %>">
            <div class="field-placeholder"><span>Enter your password</span></div>
         </div>
         
         <div class="field-wrapper">
            <input type="password" name="confirmPassword"
               value="<%= typeof confirmPassword != 'undefined' ? confirmPassword : '' %>">
            <div class="field-placeholder"><span>Confirm your password</span></div>
         </div>

         <button type="submit">Send</button>
         <br>
         <br>
         <!-- Sign in with facebook or google -->
         <hr class="hr-text" data-content="or">

         <!-- Link to Account Creation -->
         <br>
         <a class="register-btn" href="/login">Back to Login?</a>
      </form>
   </div>
</div>
<%- include ../partials/html-footer %>
                 