<!-- 
   Show latest products
 -->

<div class="col-md-12 text-muted mt-5">
   <h5>Latest Products</h5>
</div>
<div class="row mt-3">

   <% let count = 0 %>
   <% newItems.forEach((item) => { %>
   <% if(count > 7) { %>
   <% return; %>
   <% } %>

   <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 mx-auto mb-5 px-1">
      <a class="text-dark" href="/items/<%= item.id %>">
         <div class="card p-0 m-0 bg-transparent border">
            <img src="<%= item.photos[0] != '' ? item.photos[0] : '/public/img/noimg.png' %>" width="100%" height="250px" />
            <div class="card-body border-top">
               <h6 class="overflow-hidden font-weight-bold" style="min-height: 20px; max-height: 20px;"><%= item.title %></h6>
               
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <small class="text-muted text-success"><i class="fa fa-eye pl-3"></i> <%= item.views %>
               </small>
               <!-- ------------------------------------------------------- -->
               <!-- Cheap otion, to be changed -->
               <% if(item.rating >= 5) { %>
               <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
               </div>
               <% } else if(item.rating >= 4) { %>
               <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
               </div>
               <% } else if(item.rating >= 3) { %>
               <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
               </div>
               <% } else if(item.rating >= 2) { %>
               <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
               </div>
               <% } else if(item.rating >= 1) { %>
               <div>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
               </div>
               <% } else { %>
               <div>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
               </div>
               <% } %>
   
               <small class="text-muted text-success pr-3"><i class="fa fa-eur"></i><%= item.price %>
               </small>
            </div>
         </div>
      </a>
   </div>

   <% count++; %>
   <% }); %>
</div>
<hr class="mt-5" style="border: 1px solid rgb(223, 223, 223);">

