
<% include ../partials/html-header %>
<%- include ../users/nav-login-register %>

<div class="container text-center">
   <div class="jumbotron bg-transparent">
      <% if (user) { %>
      <h2>Hi <%= user.name %></h2>
      <% } %>
      <h1 class="mt-4">Dashboard Users</h1>
      <!-- Hidden Errors div -->
      <div class="field-wrapper">
         <% include ../partials/errors %>
      </div>
      <div class="row">   
         <% users.forEach(function(user){ %>
         <a class="small m-auto" href="/dashboards/edit/<%= user.id %>">
            <div class="mb-2" style="width: 17rem;">
               <div class="card-footer">
                  <div>
                     <% var options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
                     <small class="text-muted">Account created:
                        <%= user.date.toLocaleDateString("en-GB", options) %></small>
                  </div>
                  <div class="brand-card">
                     <i class="fa"></i>
                  </div>
            
                  <div class="brand-card">
                     <i class="fa fa-user"></i>
                  </div>
                  <div>
                     <div class="text-uppercase text-muted small"><%= user.name %></div>
                  </div>
            
                  <div class="brand-card">
                     <i class="fa fa-envelope"></i>
                  </div>
                  <div>
                     <div class="text-uppercase text-muted small"><%= user.email %></div>
                  </div>
            
                  <% if(user.userType === 0) { %>
                  <div class="brand-card">
                     <i class="fa fa-check"></i>
                  </div>
                  <div>
                     <div class="text-uppercase text-muted small">BASIC Account</div>
                  </div>
                  <% } else if(user.userType === 1) { %>
                  <div class="brand-card">
                     <i class="fa fa-bitcoin"></i>
                  </div>
                  <div>
                     <div class="text-uppercase text-muted small">Seller Account</div>
                  </div>
                  <% } else { %>
                  <div class="brand-card">
                     <i class="fa fa-certificate"></i>
                  </div>
                  <div>
                     <div class="text-uppercase text-muted small">Admin Account</div>
                  </div>
                  <% } %>
               </div>
            </div>           
         </a>
         <% }); %>
      </div>
      

   </div>

</div>

<%- include ../partials/html-footer %>