<!-- Check if loggedin user has clearance to view this page -->
<% if(loggedinUser.userType === 2) { %>
<% include ../../partials/html-header %>
<% include ./navbar %>

<br>
<br>
<br>
<br>
<h1>Staff Management</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="admin-grid">   
   <div class="chart">
      <a href="/users/admins/admins" class="one">
         <p><%= countAdmins %> Admins</p>
      </a>
      <a href="/users/admins/sellers" class="two">
         <p><%= countSellers %> Sellers</p>
      </a>
      <a href="/users/admins/shoppers" class="three">
         <p><%= countShoppers %> Shoppers</p>
      </a>
   </div>
   <div class="customer-experience-img">
      <canvas id="myChart2"  height="135"></canvas>
   </div>   
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Market Information Management</h1>
<br>
<br>
<br>
<br>
<div class="admin-grid">

   <div class="chart">
      <div class="onee">
         <%= countItems %> Total Products
      </div>
      <div class="twoo">
         € <%= mostExpensive %> Most Expensive
      </div>
      <div class="threee">
         € <%= total %> Total Prod Value
      </div>
   </div>

   <div class="customer-experience-img">
      <canvas id="myChart3" height="135"></canvas>
   </div>
</div>
<br>
<br>
<br>
<br>
<br>


<script>

   let admins = <%= countAdmins %>;
   let sellers = <%= countSellers %>;
   let shoppers = <%= countShoppers %>;
   let hundred = 0;

   let chart = document.querySelector('.chart');

   if (admins >= sellers && admins >= shoppers) {
      shoppers = 100 / admins * shoppers;
      sellers = 100 / admins * sellers;
      admins = 100;

   } else if (sellers >= admins && sellers >= shoppers) {
      admins = 100 / sellers * admins;
      shoppers = 100 / sellers * shoppers;
      sellers = 100;
   } else {
      admins = 100 / shoppers * admins;
      sellers = 100 / shoppers * sellers;
      shoppers = 100;
   }

   chart.style.setProperty('--number-of-admins', `${admins}%`);
   chart.style.setProperty('--number-of-sellers', `${sellers}%`);
   chart.style.setProperty('--number-of-shoppers', `${shoppers}%`);


   const ctx2 = document.getElementById('myChart2').getContext('2d');
      var myChart2 = new Chart(ctx2, {
         type: 'bar',
         data: {
            labels: [ 'Staff', 'Shoppers', ],
            datasets: [{
               label: 'If you see predominant red color means that thers is to much staff for the amount of customers', 
               data: [ <%= countAdmins * 100 - countShoppers %>, <%= countShoppers %>],
               backgroundColor: [
                  'rgba(255, 99, 132, 0.<%= countAdmins %>)',
                  'rgba(2, 161, 2, 0.2)',
                  
               ],
               borderWidth: 1
            }]
         }
      });

      const ctx3 = document.getElementById('myChart3').getContext('2d');
         var myChart3 = new Chart(ctx3, {
            type: 'pie',
            data: {
               labels: ['Global Market Size', 'Our Slice'],
               datasets: [{
                  label: 'IoT Market Size vs Our Inventory Value',
                  data: [200000000, <%= total %>],
                  backgroundColor: [
                     'rgba(0, 0, 0, 0.244)',
                     'rgba(0, 255, 128, 0.5)'
                  ],
                  borderWidth: 1
               }]
            }
         });

</script>


<%- include ../../partials/html-footer %>

<% } else { %>
<%- include ../../partials/unauthorised-access %>
<% } %>