<!-- Check if loggedin user has clearance to view this page -->
<% if(loggedinUser.userType === 2) { %>
<% include ../../partials/html-header %>
<div class="row no-gutters">
   <%- include ./sidenav %>

   <div class="col-md-10">
      <div class="navbar navbar-expand bg-dark navbar-dark ">

         <div class="navbar-collapse col-md-6">
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link disabled text-primary" tabindex="-1" aria-disabled="true" href="#"
                     style="min-width: 200px;;">Welcome
                     <%= loggedinUser.firstName %>
                  </a>
               </li>
               
            </ul>
         </div>
         <div class="col-md-6 m-0 p-0">
            <% include ../../partials/errors %>
         </div>
      </div>
   <div class="table-responsive">
      <table class="table table-striped table-sm">
         <thead>
            <tr>
               <th>Product Name</th>
               <th>Product ID</th>
               <th>Created On</th>
               <th>User Name</th>
               <th>User Email</th>
            </tr>
         </thead>
         <tbody>
            <!-- Next line is to format the date object -->
            <% var options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
            <% users.forEach(function(user){ %>
            <% items.forEach(function(item){ %>
            <% if(user != undefined && user.id == item.user){ %>
            <tr>
               <td class="text-uppercase text-muted small">
                  <a href="/users/admins/findOneProd/<%= item.id %>">
                     <div><%= item.title %></div>
                  </a>
               </td>
               <td class="text-muted small"><%= item.id %></td>
               <td class="text-uppercase text-muted small">
                  <%= item.createdAt.toLocaleDateString("en-GB", options) %></td>
               <td class="text-uppercase text-muted small">
                  <a href="/users/edit/<%= user.id %>">
                     <div><%= user.firstName %>
                     <%= user.lastName %></div>
                  </a></td>
               <td class="text-uppercase text-muted small">
                  <a href="mailto:<%= user.email %>">
                     <div><%= user.email %></div>
                  </a>
               </td>
            </tr>
            <% } %>
            <% }); %>
            <% }); %>
         </tbody>
      </table>
   </div>
   </div>

   <%- include ../../partials/html-footer %>
   <% } else { %>
   <%- include ../../partials/unauthorised-access %>
   <% } %>