<!-- Check if loggedin user has clearance to view this page -->
<% if(loggedinUser.userType === 2) { %>
<% include ../../partials/html-header %>
<% include ./navbar %>

<table id="customers">
   <tr>
      <th>Product Name</th>
      <th>Created On</th>
      <th>User Name</th>
      <th>User Email</th>
   </tr>

   <% var options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
   <% users.forEach(function(user){ %>
   <% items.forEach(function(item){ %>
   <% if(user != undefined && user.id == item.user){ %>
   <tr>
      <td><a href="/items/<%= item.id %>">
         <%= item.title %>
      </a>
      </td>
      <td>
         <%= item.createdAt.toLocaleDateString("en-GB", options) %>
      </td>
      <td><a href="/users/edit/<%= user.id %>">
         <%= user.firstName %> <%= user.lastName %>
      </a>
   </td>
      <td><a href="mailto:<%= user.email %>">
         <%= user.email %>
      </a></td>
   </tr>
   <% } %>
   <% }); %>
   <% }); %>
</table>


<%- include ../../partials/html-footer %>

<% } else { %>
<%- include ../../partials/unauthorised-access %>
<% } %>

