<!-- Check if loggedin user has clearance to view this page -->
<% if(loggedinUser.userType === 2) { %>
<% include ../../partials/html-header %>
<% include ./navbar %>

<div class="admin-grid-users-nav">
   <a href="all">All</a>
   <a href="admins">Admins</a>
   <a href="sellers">Sellers</a>
   <a href="shoppers">Shoppers</a>
</div>

<table id="customers">
   <tr>
      <th>User Name</th>
      <th>Account Type</th>
      <th>Created On</th>
      <th>User Email</th>
      <th>Account ID</th>
   </tr>

   <% var options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
   <% users.forEach(function(user){ %>
   <% if(user.userType === 1) { %>
   <tr>
      <td><a href="/users/edit/<%= user.id %>">
            <%= user.firstName %><%= user.lastName %></a>
      </td>
      <td>
         <% if(user.userType === 0) { %>
         BASIC
         <% } else if(user.userType === 1) { %>
         Seller
         <% } else { %>
         Admin
         <% } %>
      </td>
      <td><%= user.createdAt.toLocaleDateString("en-GB", options) %></td>
      <td><%= user.email %></td>
      <td><%= user.id %></td>
   </tr>
   <% } %>
   <% }); %>
</table>


<%- include ../../partials/html-footer %>

<% } else { %>
<%- include ../../partials/unauthorised-access %>
<% } %>