<% if(user != undefined && user.userType === 1) { %>

   <%- include ./header %>
   <form class="row" action="/items" method="POST">
      <!-- Title & Price -->
      <div class="row col-md-12 mt-5"> 
         <div class="col-md-7 mb-4">
            <label for="title"><h6>Title</h6></label>
            <input type="text" class="form-control" name="title" placeholder=""
               value="<%= typeof title != 'undefined' ? title : '' %>">
         </div>
         <div class="col-md-1"></div>
         <div class=" mb-2">
            <label for="price"><h6>Price</h6></label>
            <input type="number" class="form-control" name="price" step=".01" placeholder="€"
               value="<%= typeof price != 'undefined' ? price : '' %>">
         </div>
      </div>
      
      <!-- Textarea -->
      <div class="row col-md-12">
         <div class="row col-md-12 mt-5">
            <h6>Sales Pitch</h6>
         </div>
         <div class="col-md-12">
            <textarea type="text" class="form-control" name="salesPitch" maxlength = "150"><%= typeof salesPitch!= 'undefined' ? salesPitch : '' %></textarea>
         </div>
         <div class="row col-md-12 mt-5">
            <h6>More Details</h6>
         </div>
         <div class="col-md-12">
            <textarea type="text" class="form-control" name="details"><%= typeof details != 'undefined' ? details : '' %></textarea>
         </div>
      </div>

      <!-- Links -->
      <div class="row col-md-12 mt-5">
         <div class="col-md-12">
            <h6>Photo Links</h6>
         </div>
         <div class="col-md-6 mt-2">
            <input type="text" class="form-control" name="imgOne" placeholder="http://"
               value="<%= typeof imgOne != 'undefined' ? imgOne : '' %>">
         </div>
         <div class="col-md-6 mt-2">
            <input type="text" class="form-control" name="imgTwo" placeholder="http:// "
               value="<%= typeof imgTwo != 'undefined' ? imgTwo : '' %>">
         </div>
         <div class="col-md-6 mt-2">
            <input type="text" class="form-control" name="imgThree" placeholder="http://"
               value="<%= typeof imgThree != 'undefined' ? imgThree : '' %>">
         </div>
         <div class="col-md-6 mt-2">
            <input type="text" class="form-control" name="imgFour" placeholder="http:// "
               value="<%= typeof imgFour != 'undefined' ? imgFour : '' %>">
         </div>
      </div>

      <!-- Add button -->
      <div class="row col-md-12 mt-5">
         <div class="col-md-1"></div>
         <div class="col-md-2">
            <button class="btn btn-primary btn-sm" type="submit">Add Product</button>
         </div>
      </div>
   </form>
   <%- include ./footer %>

<% } else { %>
   <%- include ../dashboards/partials/unauthorised-access %>
<% } %>