<% if(user != undefined && user.userType === 1) { %>
<% include ../partials/html-header %>

<div class="get-item-nav">
   <a class="get-item-home-link" href="/"><span class="fa fa-home fa-3x"></span></a>
</div>
<% include ../partials/errors %>
<form class="add-item" action="/items" method="POST">

   <div class="add-title">
      <label for="title">Title</label><br>
      <input type="text" name="title" placeholder="" value="<%= typeof title != 'undefined' ? title : '' %>">
   </div>

   <div class="add-price">
      <label for="price">Price</label><br>
      <input type="number" name="price" step=".01" placeholder="€"
         value="<%= typeof price != 'undefined' ? price : '' %>">
   </div>

   <div class="add-quantity">
      <label for="quantity">Quantity</label><br>
      <input type="number" name="quantity" value="<%= typeof quantity != 'undefined' ? quantity : '' %>">
   </div>

   <img class="add-img" src="/public/img/illustration1.jpg" alt="">

   <div class="add-sales-pitch">
      <label for="salesPitch">Short Sales Pitch</label><br>
      <textarea type="text" name="salesPitch"
         maxlength="150"><%= typeof salesPitch!= 'undefined' ? salesPitch : '' %></textarea>
   </div>

   <div class="add-details">
      <label for="details">Add more details</label><br>
      <textarea type="text" name="details"><%= typeof details != 'undefined' ? details : '' %></textarea>
   </div>

   <br>

   <img class="add-img2" src="/public/img/illustration2.png" alt="">

   <div class="photo-links">
      <label for="links">add HTTP link</label><br>
      <input type="text" name="imgOne" value="<%= typeof imgOne != 'undefined' ? imgOne : '' %>">

      <label for="links">add HTTP link</label><br>
      <input type="text" name="imgTwo" value="<%= typeof imgTwo != 'undefined' ? imgTwo : '' %>">

      <label for="links">add HTTP link</label><br>
      <input type="text" name="imgThree" value="<%= typeof imgThree != 'undefined' ? imgThree : '' %>">

      <label for="links">add HTTP link</label><br>
      <input type="text" name="imgFour" value="<%= typeof imgFour != 'undefined' ? imgFour : '' %>">
   </div>

   <button class="add-item-btn" type="submit">Add Product</button>
   
   <a class="go-back-btn" href="/users/<%= user.id %>/items" class="btn btn-secondary btn-sm">Go Back</a>

</form>

<%- include ../partials/html-footer %>
<script>

   // Editor script
   CKEDITOR.replace('details', {
      enterMode: CKEDITOR.ENTER_BR,
      toolbar: [{ name: 'basicstyles', groups: ['basicstyles'], items: ['Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor'] },
      { name: 'styles', items: ['Format'] },
      { name: 'justify', groups: ['blocks', 'align'], items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
      { name: 'paragraph', groups: ['list', 'indent'], items: ['NumberedList', 'BulletedList', '-'] },
      { name: 'spell', items: ['jQuerySpellChecker'] }
      ],
   });
</script>

<% } else { %>
<%- include ../partials/unauthorised-access %>
<% } %>