<% if(user != undefined && user.userType === 1) { %>
<% include ../partials/html-header %>
<div class="get-item-nav">
   <a class="get-item-home-link" href="/"><span class="fa fa-home fa-3x"></span></a>
</div>

<% include ../partials/errors %>
<form class="add-item" action="/items/<%= item.id %>?_method=PATCH" method="POST">
   <input type="hidden" name="_method" value="PATCH" />

   <div class="add-title">
      <label for="title">Title</label><br>
      <input type="text" name="title" placeholder="" value="<%= typeof item.title != 'undefined' ? item.title : '' %>">
   </div>

   <div class="add-price">
      <label for="price">Price</label><br>
      <input type="number" name="price" step=".01" placeholder="€"
         value="<%= typeof item.price != 'undefined' ? item.price : '' %>">
   </div>

   <div class="add-quantity">
      <label for="quantity">Quantity</label><br>
      <input type="number" name="quantity" value="<%= typeof item.quantity != 'undefined' ? item.quantity : '' %>">
   </div>

   <img class="add-img" src="/public/img/illustration1.jpg" alt="">

   <div class="add-sales-pitch">
      <label for="salesPitch">Short Sales Pitch</label><br>
      <textarea type="text" name="salesPitch" maxlength="150"><%= item.salesPitch %></textarea>
   </div>

   <div class="add-details">
      <label for="details">Add more details</label><br>
      <textarea type="text" name="details"><%- item.details %></textarea>
   </div>

   <br>

   <img class="add-img2" src="/public/img/illustration2.png" alt="">

   <div class="photo-links">
      <label for="links">add HTTP link</label><br>
      <input type="text" name="imgOne" value="<%= typeof item.photos[0] != 'undefined' ? item.photos[0] : '' %>">

      <label for="links">add HTTP link</label><br>
      <input type="text" name="imgTwo" value="<%= typeof item.photos[1] != 'undefined' ? item.photos[1] : '' %>">

      <label for="links">add HTTP link</label><br>
      <input type="text" name="imgThree" value="<%= typeof item.photos[2] != 'undefined' ? item.photos[2] : '' %>">

      <label for="links">add HTTP link</label><br>
      <input type="text" name="imgFour" value="<%= typeof item.photos[3] != 'undefined' ? item.photos[3] : '' %>">
   </div>

   <button class="add-item-btn" type="submit">Save new Details</button>

   <a class="go-back-btn" href="/users/<%= user.id %>/items" class="btn btn-secondary btn-sm">Go Back</a>


   <!-- Delete -->
   <form action="/items/<%= item.id%>?_method=DELETE" method="POST">
      <input type="hidden" name="_method" value="DELETE">

      <button class="delete-btn" type="submit">Delete</button>

   </form>

</form>

<%- include ../partials/html-footer %>
<script>

   // Editor script
   CKEDITOR.replace('details', {
      enterMode: CKEDITOR.ENTER_BR,
      toolbar: [{ name: 'basicstyles', groups: ['basicstyles'], items: ['Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor'] },
      { name: 'styles', items: ['Format'] },
      { name: 'justify', groups: ['blocks', 'align'], items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
      { name: 'paragraph', groups: ['list', 'indent'], items: ['NumberedList', 'BulletedList', '-'] },
      { name: 'spell', items: ['jQuerySpellChecker'] }
      ],
   });
</script>

<% } else { %>
<%- include ../partials/unauthorised-access %>
<% } %>