<%- include ../partials/html-header %>

<% if(user != undefined && user.userType === 2) { %>
<% include ../users/admins/navbar %>
<% } else { %>
   <div class="get-item-nav">
      <a class="get-item-home-link" href="/"><span class="fa fa-home fa-3x"></span></a>
      <% if(item.quantity > 0) { %>
      <i class="stock fa fa-check"><span> In Stock</span></i>
      <% } else { %>
      <i class="stock fa fa-times" style="color: var(--red-color);">
         <span style="color: var(--red-color);">Out of Stock</span>
      </i>
      <% } %>
      <i class="fa fa-eur"><span> <%= item.price %></span></i>
      <i class="fa fa-star"><span> Secure Shopping</span></i>
      <i class="fa fa-star"><span> Free Returns</span></i>
      <i class="fa fa-star"><span> Free Delivery</span></i>
   
   </div>
<% } %>

<div class="get-item-description">
   <h1 class="get-item-title"><%= item.title %></h1>
   <img class="img-1" src="<%= item.photos[1] != '' ? item.photos[1] : '/public/img/noimg.png' %>" alt="product">
   <h2 class="paragraph-1"><%= item.salesPitch%></h2>

   <form id="like" action="/items/<%= item.id %>?_method=PUT" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <button type="submit">
         <i class="fa fa-thumbs-up fa-3x" aria-hidden="true"></i>
      </button>
   </form>   
   <img class="img-2" src="<%= item.photos[2] != '' ? item.photos[2] : '/public/img/noimg.png' %>" alt="product">
   <span class="paragraph-2"><%- item.details%></span>
   <img class="img-3" src="<%= item.photos[3] != '' ? item.photos[3] : '/public/img/noimg.png' %>" alt="product">

   <div class="more">
      <div class="latest">
         <% items.forEach(function(item, index){ %>
         <% if(index > 2) { %>
         <% return; %>
         <% } %>
      
         <%- include ../shop/components/item/item %>
      
         <% }); %>
      </div>
   </div>
   <button class="back-to-top" onclick="topFunction()" title="Go to top">Back To
      Top</button>
   
</div>

   <!-- <a class="btn text-center border-success text-success w-100">
      <i class="fa fa-shopping-basket" aria-hidden="true"> Buy Now</i>
   </a>
   
   
   
   <a class="btn text-center border-secondary w-100">
      <i class="fa fa-heart" aria-hidden="true"> Wishlist</i>
   </a>
   
   <i class="fa fa-copyright" aria-hidden="true"> Every credit card purchase is covered by our Safe Shopping
      Guarantee: Under the Fair ... With VeriSign, you can feel
      confident shopping on our website!</i> -->


<script>

   let mybutton = document.getElementById("myBtn");
   topFunction = () => {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
   }
</script>

<!-- Include items footer -->
<%- include ../partials/html-footer %>