<%- include ./header %>

<!-- Top div -->
<div class="row mt-5">
   <div class="col-md-2">
   </div>
   <div class="row col-md-10 mb-4">
      <h1 class="display-4 text-center"><%= item.title %></h1>
   </div>
   <div class="row col-md-7">
      <div class="col-md-12 p-0">
         <img class="card shadow" src="<%= item.photos[0] != '' ? item.photos[0] : '/public/img/noimg.png' %>"
            alt="product" width="100%" height="405">
      </div>
      <div class="col-md-4 d-none d-lg-block mt-2 p-0">
         <img class="card shadow" src="<%= item.photos[1] != '' ? item.photos[1] : '/public/img/noimg.png' %>"
            alt="product" width="100%" height="185">
      </div>
      <div class="col-md-4 d-none d-lg-block mt-2 p-0">
         <img class="card shadow" src="<%= item.photos[2] != '' ? item.photos[2] : '/public/img/noimg.png' %>"
            alt="product" width="100%" height="185">
      </div>
      <div class="col-md-4 d-none d-lg-block mt-2 p-0">
         <img class="card shadow" src="<%= item.photos[3] != '' ? item.photos[3] : '/public/img/noimg.png' %>"
            alt="product" width="100%" height="185">
      </div>
   </div>

   <div class="row col-md-5 shadow-sm" style="background: rgb(170,214,136, 0.05);">
      <div class="col-md-12">
         <h5><%= item.salesPitch %></h5>
      </div>
      <div class="col-md-12">
         <i class="fa fa-check fa-2x text-success"></i><span class="text-success font-weight-bold">In Stock</span>
      </div>
      <div class="row col-md-12 text-primary">
         <div class="col-xs-1 pt-3 pl-0">
            <span class="">Price: </span>
         </div>
         <div class="col-xs-9">
            <h1>€ <%= item.price %></h1>
         </div>
         
      </div>

      <div class="col-md-12 text-warning ">
         <h6 class="small"><i class="fa fa-check text-warning"></i> Shop Secure</h6>
      </div>
      <div class="col-md-12 text-warning">
         <h6 class="small"><i class="fa fa-check text-warning"></i> Free Returns</h6>
      </div>
      <div class="col-md-12 text-warning">
         <h6 class="small"><i class="fa fa-check text-warning"></i> Free Delivery</h6>
      </div>

      <div class="col-md-6 mt-2">
         <a class="btn text-center border-success text-success" >
            <i class="fa fa-shopping-basket font-weight-bold" aria-hidden="true"> Add to Cart</i>
         </a>
      </div>
      <div class="col-md-6 mt-2">
         <a class="btn text-center border-secondary">
            <i class="fa fa-heart" aria-hidden="true"> Add to Wishlist</i>
         </a>
      </div>

      <div class="col-md-12 text-muted small">
         <p>Add to cart and continue shopping, proceed to checkout any time you wish</p>
      </div>

      

      <div class="row col-md-12 mt-2">
         <div class="col-xs-4 mx-auto">
            <a class="btn fa fa-facebook"></a>            
         </div>
         <div class="col-xs-4 mx-auto">
            <a class="btn fa fa-google"></a>
         </div>         
      </div>
   </div>
</div>
<br>
<br>
<br>
<br>
<br>


<!-- Product description item.links -->
<div class="row font-weight-bold">
   <div class="col-md-2">
   </div>
   <div class="col-md-10 rounded-top pt-2">
      <h5>
         <div class="row col-md-12 mb-4">
            <h1 class="display-4 text-center">Product Description</h1>
         </div>
      </h5>
   </div>

   

   
</div>
<!-- Product description body -->
<div class="row overflow-auto " style="min-height: 450px;">
   <div class="card shadow col-md-12" style="background: rgb(255, 255, 255);">
      <%- item.details %>

   </div>
</div>
<br>
<br>
<br>

<%- include ./showMany %>

<br>
<br>
<br>


<div class="col-md-12">
   <a href="/items" class="btn col-md-2 text-center" style="background: rgb(170,214,136, 0.4);"> Go Back
   </a>
</div>
<br>
<br>
<br>

</div>


<%- include ./footer %>