<% if(loggedinUser) { %>


<% if(loggedinUser.userType === 2) { %>
<%- include ../partials/html-header %>
<% include ../users/admins/navbar %>
<div class="admin-grid-users-nav">
   <a href="/users/admins/all">All</a>
   <a href="/users/admins/admins">Admins</a>
   <a href="/users/admins/sellers">Sellers</a>
   <a href="/users/admins/shoppers">Shoppers</a>
</div>
<% } %>

<div class="edit-user-body">
   <div class="account-info">
      <hr class="hr-text" data-content="Account Info">
      <i class="fa fa-calendar">
         <% var options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
         <%= user.createdAt.toLocaleDateString("en-GB", options) %>
      </i>
      <i class="fa fa-user"><%= user.firstName %> <%= user.lastName %></i>
      <i class="fa fa-envelope"> <%= user.email %></i>
      <% if(user.userType === 0) { %>
      <i class="fa fa-check">BASIC Account</i>
      <% } else if(user.userType === 1) { %>
      <i class="fa fa-bitcoin">Seller Account</i>
      <% } else { %>
      <i class="fa fa-certificate">Admin Account</i>
      <% } %>
   </div>

   <% if(loggedinUser.userType === 2) { %>

   <%- include ./partials/change-user-type %>

   <% } else if(loggedinUser.userType === 1) { %>

   <%- include ./partials/change-user-name %>

   <% } else { %>

   <%- include ./partials/change-user-name %>

   <% } %>

   <div class="account-delete">

      <hr class="hr-text" data-content="DELETE ACCOUNT">
      <h5>WARNING, account, its settings and all and all will be lost</h5>
      <form action="/users/edit/<%= user.id %>?_method=DELETE" method="POST">
         <input type="hidden" name="_method" value="DELETE" />

         <% if(user.firstName === 'shopper'||user.firstName ==='admin'||user.firstName ==='seller') { %>
         <p>Cannot delete, protected account</p>
         <% } else { %>
         <button type="submit" style="background: var(--red-color);">Delete Account ?
         </button>
         <% } %>

         <p>WARNING, ACCOUNT: "<%= user.email %>" OWENED BY "<%= user.firstName %>" WILL BE DESTROYED</p>

      </form>
   </div>
</div>


<% if(loggedinUser.userType === 2) { %>
<%- include ../partials/html-footer %>
<% } %>

<% } else { %>
<%- include ../partials/unauthorised-access %>
<% } %>