<!-- include HTML header for styling and other scripts -->
<% include ../partials/html-header %>
<%- include ../users/nav-login-register %>
<div class="container">
   <div class="row">
      <div class="col-lg-10 col-xl-6 mx-auto">
         <div class="card card-signin flex-row my-5">
            <div class="card-body">

               <!-- Title & Close Button -->
               <h4 class="card-title text-center w-100 font-weight-bold"></h4>
               <button type="button" class="close" aria-label="Close">
                  <a href="/users/login" aria-hidden="true">&times;</a>
               </button>
               <h4 class="card-title text-center w-100 font-weight-bold">Create New Password</h4>

               <!-- Form -->
               <form class="form-signin" action="/users/reset/<%= token %>" method="POST">
                  <div class="form-wrapper-outer">
                     <% include ../partials/errors %>
                     

                     <!-- Manually Reset Password -->                    
                     <div class="field-wrapper">
                        <input type="password" id="password" name="password"
                           value="<%= typeof password != 'undefined' ? password : '' %>">
                        <div class="field-placeholder"><span>Enter your password</span></div>
                     </div>

                     <div class="field-wrapper">
                        <input type="password" id="confirmPassword" name="confirmPassword"
                           value="<%= typeof confirmPassword != 'undefined' ? confirmPassword : '' %>">
                        <div class="field-placeholder"><span>Confirm your password</span></div>
                     </div>

                     <div class="text-center">
                        <br class="my-4">
                        <button id="loginBtn" class="btn btn-success pl-5 pr-5" type="submit">Save new Password</button>
                     </div>

                     <!-- Sign in with facebook or google -->
                     <hr class="hr-text" data-content="or">

                     <!-- Link to Account Creation -->
                     <br>
                     <div class="d-flex justify-content-center">
                        <div class="m-2">
                           <p class="small">Want to log in?</p>
                        </div>
                        <div >
                           <div class="text-center">
                              <a id="registerLink" class="btn btn-success p-1" href="/users/login">Log in</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- include HTML footer for styling and other scripts -->
   <%- include ../partials/html-footer %>